;;;; Because describing the dependency tree in a DSL is less
;;;; annoying than managing the whole thing in 3 different spots.
;;;; At least, that's my current theory

{;; Symbols that map to Prismatic schema definitions
 ;; that will be used to validate the rest of the configuration
 :schemas {frereth-web.server ConnectionDescription
           frereth-web.router [WebSocketDescription
                               router/StandardDescription]
           frereth-web.core ServerDescription}
 :initialization-map {:server frereth-server.comms/ctor
                      :http-router frereth-web.router/ctor
                      ;; TODO: Add the web socket handler
                      :web-server frereth-web.server/ctor}
 :dependencies {:http-router [:server]
                :web-server [:http-router]}}
